<!doctype html>
<html lang="en">
    <body style="margin: 0px;">
        <script type="module">
            import init from './serverlooter-${GIT_HASH}.js';

            const wasm = await (await fetch('serverlooter_opt-${GIT_HASH}.wasm')).bytes();

            init(wasm).catch((error) => {
                if (!error.message.startsWith("Using exceptions for control flow, don't mind me. This isn't actually an error!")) {
                    throw error;
                }
            });
        </script>
    </body>
</html>